@model IndexViewModel;

<h1>Deployment Parameters Calculator</h1>

<div>There were @Model.SuccessfulDeploymentFrequency successful deployments in @Model.RelevantYear</div>
<div>Change failure rate in @Model.RelevantYear was @Model.ChangeFailureRate%</div>